---
// SEO Redirect: "aurora borealis tonight" -> homepage
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/">
  <link rel="canonical" href="https://auroraforecast.uk/">
  <title>Redirecting to Aurora Forecast UK...</title>
</head>
<body>
  <p>Redirecting to <a href="/">Aurora Forecast UK</a>...</p>
</body>
</html>
